.home {
}
.conversation {
  width: 340px;
  background-color: white;
  border-right: 1px solid #f8f8f8;
  overflow-y: auto;
  overflow-x: hidden;
  .search {
    height: 70px;
    padding: 8px 20px;
    border-bottom: 1px solid #f8f8f8;
    input {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.6);
    }
    button {
      width: 30px;
    }
  }
  .ulConversation {
    margin-top: 10px;
    li {
      padding: 20px;
      border-bottom: 1px solid #f8f8f8;
      cursor: pointer;
      .message {
        color: #808080;
        font-size: 12px;
      }
      .username {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
